<div ng-controller="HomeCtrl">
  <div class="row">
    <div class="col-md-4 tree-browser">
      <js-tree 
      	tree-events="select_node:nodeSelected" 
      	tree-ajax="/peek" 
      	tree-core="tree_core"
      	tree-plugins="dnd"
      ></js-tree>
    </div>
    <div class="col-md-8 file-viewer">
	<script>
	    document.getElementById("col-md-8 file-viewer").innerHTML = "insert file contents here";
	    var editor = ace.edit("col-md-8 file-viewer");
	    editor.setTheme("ace/theme/monokai");
	    editor.getSession().setMode("ace/mode/c_cpp");
	    <!--$.ajax({
		url : "url for remote server",
		type: "POST",
		data: JSON.stringify(document.getElementById("col-md-8 file-viewer").innerHTML)
	    });-->
	</script>
    </div>
  </div>

</div>
