<%# add navigation links to this file %>
<li class='nav-item'><%= link_to 'About', page_path('about'), class: 'nav-link' %></li>
<% if user_signed_in? %>
  <li class='nav-item'><%= link_to 'My Servers', servers_path, class: 'nav-link'  %></li>
  <li class='nav-item'><%= link_to 'Logout', destroy_user_session_path, :method => :delete, class: 'nav-link' %></li>
<% else %>
  <li class='nav-item'><%= link_to 'Login', new_user_session_path, class: 'nav-link'  %></li>
<% end %>
